:root {
    --neongreen: #76b83d;
    --darkgreen: darkgreen;
    --lightgreen: green;
    --footer: #00ae5e;
}
* {
    background-color: var(--darkgreen);
    /* background: var(--footer); */
    max-width: 100%;
    margin: auto;
    color: azure;
}
body {
    background-color: var(--darkgreen);
    /* display: block; */
    text-align: center;
}
.indexContainer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    background-color: var(--darkgreen);
    /* max-width: 90%; */
    /* padding: 0em 2em; */
    position: sticky;
    top: 0;
    border-radius: 15px;
    border: 2px solid azure;
}
.indexUlContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid azure;
    text-align: center;
    /* width: 100%; */
    /* background-color:var(--lightgreen); */
    /* display: flex; */
    /* padding: 15px; */
}
.showContainer {
    display: flex;
    flex-direction: column;
    /* border: 2px solid azure; */
    width: 100;
    background-color: var(--neongreen);
    /* padding: 15px; */
}
.showUl {
    width: 75%;
    text-align: center;
}
ul > img {
    margin: 15px;
}
h1 {
    text-align: center;
    color: azure;
    font-size: 50px;
    background-color: var(--lightgreen);
}
h3 {
    background-color: var(--neongreen);
    font-size: 40px;
    max-width: 80%;
    padding: 20px auto;
}
h4 {
    background-color: var(--neongreen);
    font-size: 20px;
    max-width: 100%;
    padding: 20px auto;
    color: azure;
    font-size: 1.5em;
    text-decoration: none;
}
h2 {
    color: azure;
    text-align: center;
}
li {
    background-color: var(--neongreen);
    text-align: center;
    align-items: center;
    list-style-type: none;
    color: var(--lightgreen);
    margin: 0px;
    width: 90%;
    text-decoration: none;
}
a {
    color: var(--lightgreen);
}
p {
    background-color: var(--lightgreen);
    font-size: 2em;
}
.deleteButton {
    display: block;
    font-size: 20px;
    background-color: var(--neongreen);
    background: var(--lightgreen);
    width:  fit-content;
    margin: 20px auto;
}
.navbar, .navbar-nav, .collapse {
    width: 100%;
    /* background-color: var(--darkgreen; */
}
.navbar-nav >li {
    margin-left: 20px;
    margin-right: 20px;
}
.nav-item {
    border: 0;
    outline: 0;
    background: var(--darkgreen);
    cursor: pointer;
    color: azure;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}
.nav-link {
    color: azure;
}
.navbar-brand {
    font-size: 3rem;
    color: azure;
    /* margin-left: 0; */
}
.deleteForm {
    background: var(--neongreen);
}
form {
    text-align: center;
    /* background-color: var(--footer); */
}
input {
    padding: 10px;
    background: var(--lightgreen);
    background-color: var(--lightgreen);
    width: auto;
}
/* #inlineFormInput, inlineFormInputGroup {
    width: 120px;
} */
img {
    display: block;
    margin: 0px auto;
    padding: 0;
}
#indexTitle {
    text-align: center;
    font-size: 50px;
}
.indexName {
    color: azure;
}
.footer {
    background-color: var(--footer);
    position: sticky;
    bottom: 0;
}
#footer {
    display: block;
    width: auto;
    height: 120px;
    background-color: var(--footer);
    position: sticky;
}
/* .btn {
    color: azure;
    background: var(--darkgreen);
    background-color: var(--darkgreen);
} */